/package-lock.json
.DS_Store
/.idea
/.idea/*
.idea
.idea/*
/node_modules/*
.env
/backend/node_modules/*
/backend/dist
.gitignore
/client/node_modules/*
/server/node_modules/*
/next/.next/*
/next/node_modules/*

