#modalBackground{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1500;
    background-color: rgba(89, 89, 89, 0.90);
    display: none;
}

#modal{
    position: fixed;
    min-width: 20%;
    max-width: 60vw;
    min-height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background-color: whitesmoke;
    border-radius: 3px;
}

#editor-container {
    max-height: 60vh;
    background-color: white;
}
