html, body {
    height: 100%;
}

.textBox {
    margin: 20px;
    min-width: 400px;
    min-height: 300px;
    border: 1px black;
    position: absolute !important;
    background-color:#f5f5f5 !important;
}

#gameBox {
    border: 1px solid blue;
    height: 1000px;
    width: 1800px;
    overflow-x: auto;
    overflow-y: auto;
}

.paragraphText {
    background-color: whitesmoke;
    min-height: 0;
    max-height: 70%; 
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.headerText {
    background-color: lightblue;
    margin-bottom: 0;
    min-height: 0;
    max-height: 30%; 
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

.classMenu {
    width: 10%;
    height: 100%;
    background-color: gray;
    margin: 0;
}

.gameMenu {
    height: 100%;
    margin: 0;
    width: 90%;
}

.row {

}

.col-2 {
    border: 1px solid red;
    background-color: lightgrey;
}
