html, body {
    height: 100%;
}

.textBox {
    border: 2px black;
    border-radius: 5px;
    background-color: saddlebrown;
    margin: 20px;
    width: 400px;
    cursor: move;
    position: absolute;
}

#gameBox {
    border: 1px solid blue;
    min-height: 600px;
    min-width: 800px;
    width: auto;
    /*position: relative;*/
}

.paragraphText {
    overflow-y: auto;
    overflow-x: auto;
    min-height: 50px;
    max-height: 400px;
}

.headerText {
    overflow-y: auto;
    /*min-width: 100px;*/
    /*max-width: 200px;*/
}

.classMenu {
    width: 10%;
    height: 100%;
    background-color: gray;
    margin: 0;
}

.gameMenu {
    height: 100%;
    margin: 0;
    width: 90%;
}

.row {

}

.col-2 {
    border: 1px solid red;
    background-color: lightgrey;
}